<div id='greeting-and-form'>
  <span class='hello'>
    hello!
  </span>

    <br>

  <span class='please'>
    Please enter your first name, last name, and favorite band or artist below.
  </span>

    <br><br><br>

  <form id='new-user-form' method='post' action='/'>
    <input class='form-field' type='text' name='first_name' placeholder='first name'> <br>
    <input class='form-field' type='text' name='last_name' placeholder='last name'> <br>
    <input class='form-field' type='text' name='favorite' placeholder='favorite band or artist'> <br><br>
    <button data-id='' type='submit'>Submit</button>
  </form>
</div>