<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Devin's Challenge</title>
    <link href='/assets/style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i,300,300i,400,400i,700,700i&display=swap' rel='stylesheet'>
  </head>

  <body id='container'>
    <%- body %>
  </body>

</html>